@{
    ViewData["Title"] = "Warehouse";
}
@model fms.Models.mtWarehouse;
@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
}
<div id="errorMessageHeader">

</div>

<div class="row">
    <!-- left column -->
    <div class="col-xs-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <div class="box-body">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="code">@Html.DisplayNameFor(model => model.code)</label>
                        <input type="text" class="form-control" id="code" asp-for="code" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="name">@Html.DisplayNameFor(model => model.name)</label>
                        <input type="text" class="form-control" id="name" asp-for="name">
                    </div>
                    <div class="form-group">
                        <label for="address">@Html.DisplayNameFor(model => model.address)</label>
                        <input type="text" class="form-control" id="address" asp-for="address">
                    </div>
                    <div class="form-group">
                        <label for="email">@Html.DisplayNameFor(model => model.email)</label>
                        <input type="text" class="form-control" id="email" asp-for="email">
                    </div>
                    <div class="form-group">
                        <label for="website">@Html.DisplayNameFor(model => model.website)</label>
                        <input type="text" class="form-control" id="website" asp-for="website">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="phone">@Html.DisplayNameFor(model => model.phone)</label>
                        <input type="text" class="form-control" id="phone" asp-for="phone" data-inputmask='"mask": "(999)-99999999"' data-mask>
                    </div>
                    <div class="form-group">
                        <label for="fax">@Html.DisplayNameFor(model => model.fax)</label>
                        <input type="text" class="form-control" id="fax" asp-for="fax">
                    </div>
                    <div class="form-group">
                        <label for="taxNo">@Html.DisplayNameFor(model => model.taxNo)</label>
                        <input type="text" class="form-control" id="taxNo" data-inputmask='"mask": "99.999.999.9-999.999"' data-mask asp-for="taxNo">
                    </div>
                    <div class="form-group">
                        <label for="province">@Html.DisplayNameFor(model => model.province)</label>
                        <input type="text" class="form-control" id="province" asp-for="province">
                    </div>
                    <div class="form-group">
                        <label for="city">@Html.DisplayNameFor(model => model.city)</label>
                        <input type="text" class="form-control" id="city" asp-for="city">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="district">@Html.DisplayNameFor(model => model.district)</label>
                        <input type="text" class="form-control" id="district" asp-for="district">
                    </div>
                    <div class="form-group">
                        <label for="subDistrict">@Html.DisplayNameFor(model => model.subDistrict)</label>
                        <input type="text" class="form-control" id="subDistrict" asp-for="subDistrict">
                    </div>
                    <div class="form-group">
                        <label for="village">@Html.DisplayNameFor(model => model.village)</label>
                        <input type="text" class="form-control" id="village" asp-for="village">
                    </div>
                    <div class="form-group">
                        <label for="subVillage">@Html.DisplayNameFor(model => model.subVillage)</label>
                        <input type="text" class="form-control" id="subVillage" asp-for="subVillage">
                    </div>
                    <div class="form-group">
                        <label for="block">@Html.DisplayNameFor(model => model.block)</label>
                        <input type="text" class="form-control" id="block" asp-for="block">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="postalCode">@Html.DisplayNameFor(model => model.postalCode)</label>
                        <input type="text" class="form-control" id="postalCode" asp-for="postalCode">
                    </div>
                    <div class="form-group">
                        <label for="remark">@Html.DisplayNameFor(model => model.remark)</label>
                        <input type="text" class="form-control" id="remark" asp-for="remark">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.coaIdIdr)</label>
                            <select class="form-control select2" style="width: 100%;" id="coaIdIdr" asp-for="coaIdIdr">
                                <option value="0">No Value</option>
                                @foreach (var item in ViewBag.ChartOfAccountsIdr)
                                {
                                    <option value="@item.id">@item.code</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.coaIdIdr)</label>
                            <select class="form-control select2" style="width: 100%;" id="coaIdIdr" asp-for="coaIdUsd">
                                <option value="0">No Value</option>
                                @foreach (var item in ViewBag.ChartOfAccountsUsd)
                                {
                                    <option value="@item.id">@item.code</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" asp-for="isActive"> @Html.DisplayNameFor(model => model.isActive)
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="hidden" asp-for="id" id="warehouseId">
                <input type="hidden" asp-for="createdBy" id="createdBy">
                <input type="hidden" asp-for="createdOn" id="createdOn">
                <button id="submit" type="submit" class="btn btn-primary">Save</button>&nbsp;
                <input type="button" class="btn btn-default" id="cancel" value="Cancel">
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped" id="Details">
                    <thead>
                        <tr>
                            <th style="display:none">Id</th>
                            <th>Contact Person</th>
                            <th>Telepon</th>
                            <th>Position</th>
                            <th>Address</th>
                            <th>Handphone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mycontainer">
                            <td style="display: none;"></td>
                            <td>
                                <input type="text" id="detailContactPerson" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailTelepon" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailPosition" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailAddress" class="form-control" maxlength="500" />
                            </td>
                            <td>
                                <input type="text" id="detailHandphone" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailEmail" class="form-control" maxlength="250" />
                            </td>
                            <td>
                                <input type="button" id="add" value="Add" style="width: 80px" class="btn btn-success" />
                            </td>
                        </tr>
                        @foreach (var item in ViewBag.Details)
                        {
                            <tr>
                                <td style="display:none;">@item.id</td>
                                <td>@item.contactPerson</td>
                                <td>@item.telepon</td>
                                <td>@item.position</td>
                                <td>@item.address</td>
                                <td>@item.handphone</td>
                                <td>@item.email</td>
                                <td>
                                    <input type="button" data-itemId="@item.id" style="width: 80px" value="Remove" class="deleteItem btn btn-danger" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/AdminLTE/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/plugins/input-mask/jquery.inputmask.js")"></script>
    <script src="@Url.Content("~/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js")"></script>

    <script>
        $(function () {
            $('.select2').select2()

            $('[data-mask]').inputmask()
        })

        $("#cancel").click(
            function (e) {
                e.preventDefault();
                var id = $.trim($("#warehouseId").val());

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: "/Warehouse/cancel/" + id,
                    success: function (result) {
                        console.log(result);
                        switch (result.status) {
                            case 200:
                                window.location.href = '/Warehouse/';
                                break;

                            case 409:
                                $('#divError').remove();
                                var element = document.getElementById("errorMessageHeader");
                                var error = '<li>' + result.message + '</li>';
                                var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                                element.innerHTML = alert;
                                console.log(alert);
                                break;
                        }
                    },
                    error: function (result) {
                        $('#divError').remove();
                        var element = document.getElementById("errorMessageHeader");
                        var error = '<li>Error! Check Console</li>';
                        var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                        element.innerHTML = alert;
                        console.log(result);
                    }
                });
            }
        );

        $("#add").click(function (e) {
            e.preventDefault();

            if ($.trim($("#detailContactPerson").val()) == "" ||
                $.trim($("#detailTelepon").val()) == "" ||
                $.trim($("#detailPosition").val()) == "" ||
                $.trim($("#detailAddress").val()) == "" ||
                $.trim($("#detailHandphone").val()) == "" ||
                $.trim($("#detailEmail").val()) == "") return;

            var contactPerson = $("#detailContactPerson").val(),
                telepon = $("#detailTelepon").val(),
                position = $("#detailPosition").val(),
                address = $("#detailAddress").val(),
                handphone = $("#detailHandphone").val(),
                email = $("#detailEmail").val(),
                detailsTableBody = $("#Details tbody");

            var data = JSON.stringify({
                warehouseId: $('#warehouseId').val().trim(),
                contactPerson: $('#detailContactPerson').val().trim(),
                telepon: $('#detailTelepon').val().trim(),
                position: $('#detailPosition').val().trim(),
                address: $('#detailAddress').val().trim(),
                handphone: $('#detailHandphone').val().trim(),
                email: $('#detailEmail').val().trim()
            });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Warehouse/addDetail",
                data: data,
                success: function (result) {
                    console.log(result);
                    switch (result.status) {
                        case 200:
                            var itemId = result.message;
                            var Item = '<tr><td>' + contactPerson + '</td><td>' + telepon + '</td><td>' + position + '</td><td>' + address + '</td><td>' + handphone + '</td><td>' + email +'</td><td> <input type="button" data-itemId="' + itemId +  '" href="#" style="width: 80px" value="Remove" class="deleteItem btn btn-danger" /> </td></tr>';
                            detailsTableBody.append(Item);
                            clearItem();
                            break;

                        case 409:
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });

        function clearItem() {
            $("#detailContactPerson").val('');
            $("#detailTelepon").val('');
            $("#detailPosition").val('');
            $("#detailAddress").val('');
            $("#detailHandphone").val('');
            $("#detailEmail").val('');
        }

        $(document).on('click', '.deleteItem', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-itemId');

            if ($(this).attr('data-itemId') != "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Warehouse/deleteDetail/" + id,
                        success: function (result) {
                            console.log(result);
                            switch (result.status) {
                                case 200:
                                    $(this).remove();
                                    break;

                                case 409:
                                    $('#divError').remove();
                                    var element = document.getElementById("errorMessageHeader");
                                    var error = '<li>' + result.message + '</li>';
                                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                                    element.innerHTML = alert;
                                    console.log(alert);
                                    break;
                            }
                        },
                        error: function (result) {
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>Error! Check Console</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(result);
                        }
                    });
                });
            }
        });

        //Collect Multiple Order List For Pass To Controller
        $("#submit").click(function (e) {
            e.preventDefault();

            var id = $.trim($("#warehouseId").val());

            var isChecked = $('#isActive').is(":checked");
            var isCheck;

            if (isChecked) {
                isCheck = 1;
            }
            else{
                isCheck = 0;
            }

            var data = JSON.stringify({
                id: id,
                code: $('#code').val().trim(),
                name: $('#name').val().trim(),
                address: $('#address').val().trim(),
                email: $('#email').val().trim(),
                website: $('#website').val().trim(),
                phone: $('#phone').val().trim(),
                fax: $('#fax').val().trim(),
                taxNo: $('#taxNo').val().trim(),
                province: $('#province').val().trim(),
                city: $('#city').val().trim(),
                district: $('#district').val().trim(),
                subDistrict: $('#subDistrict').val().trim(),
                village: $('#village').val().trim(),
                subVillage: $('#subVillage').val().trim(),
                block: $('#block').val().trim(),
                postalCode: $('#postalCode').val().trim(),
                remark: $('#remark').val(),
                coaIdIdr: $('#coaIdIdr').val(),
                coaIdUsd: $('#coaIdUsd').val(),
                isActive: isCheck,
                createdBy: $('#createdBy').val().trim(),
                createdOn: $('#createdOn').val().trim()
            });

            console.log(data);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Warehouse/edit/" + id,
                data: data,
                success: function (result) {
                    console.log(result);
                    switch (result.status) {
                        case 200:
                            window.location.href = '/Warehouse/';
                            break;
                        case 400:
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '';
                            for (var i=0; i < result.message.length; i++) {
                                console.log(result.message[i]);
                                error = error + '<li>' + result.message[i] + '</li>';
                            }

                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                        case 409:
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });
    </script>
}