@{
    ViewData["Title"] = "Employee";
}

@model fms.Models.mtEmployee;

@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
}

@if (ViewBag.Error)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        @Html.ValidationSummary()
    </div>
}

<div class="row">
    <!-- left column -->
    <div class="col-xs-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <form role="form" method="post" asp-controller="Employee" asp-action="Create" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="code">@Html.DisplayNameFor(model => model.code)</label>
                            <input type="text" class="form-control" id="code" asp-for="code" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="name">@Html.DisplayNameFor(model => model.name)</label>
                            <input type="text" class="form-control" id="description" asp-for="name">
                        </div>
                        <div class="form-group">
                            <label for="initial">@Html.DisplayNameFor(model => model.initial)</label>
                            <input type="text" class="form-control" id="description" asp-for="initial">
                        </div>
                        <div class="form-group">
                            <label for="address">@Html.DisplayNameFor(model => model.address)</label>
                            <input type="text" class="form-control" id="description" asp-for="address">
                        </div>
                        <div class="form-group">
                            <label for="joinDate">@Html.DisplayNameFor(model => model.joinDate)</label>
                            <input type="text" class="form-control" id="joinDate" asp-for="joinDate" asp-format="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="email">@Html.DisplayNameFor(model => model.email)</label>
                            <input type="text" class="form-control" id="email" asp-for="email">
                        </div>
                        <div class="form-group">
                            <label for="handphone">@Html.DisplayNameFor(model => model.handphone)</label>
                            <input type="text" class="form-control" id="handphone" asp-for="handphone">
                        </div>
                        <div class="form-group">
                            <label for="phone">@Html.DisplayNameFor(model => model.phone)</label>
                            <input type="text" class="form-control" id="phone" asp-for="phone" data-mask data-inputmask='"mask": "(999)-99999999"'>
                        </div>
                        <div class="form-group">
                            <label for="idCard">@Html.DisplayNameFor(model => model.idCard)</label>
                            <input type="text" class="form-control" id="idCard" asp-for="idCard">
                        </div>
                        <div class="form-group">
                            <label for="pictureUrl">@Html.DisplayNameFor(model => model.pictureUrl)</label>
                            <input type="file" class="form-control" id="pictureUrl" accept="image/png, image/jpeg" asp-for="pictureUrl">
                            <img id="imgUrl" src="#" alt="" width="120" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="isActive"> @Html.DisplayNameFor(model => model.isActive)
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                    <a class="btn btn-default" asp-controller="Employee" asp-action="index">Cancel</a>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->
</div>

@section scripts{
    <script src="@Url.Content("~/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/plugins/input-mask/jquery.inputmask.js")"></script>
    <script src="@Url.Content("~/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js")"></script>
    <script>
        $(document).ready(function(){
            $('#joinDate').datepicker({
              autoclose: true
            });

            $('#pictureUrl').change(function() {
              readURL(this);
            });

            $('[data-mask]').inputmask();

            var currentDate = new Date();
            $('#joinDate').datepicker("setDate", currentDate);
        });

        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#imgUrl').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }
    </script>
}