@{
    ViewData["Title"] = "Depo Container";
}
@model fms.Models.mtDepoContainer;
@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
}

<div id="errorMessageHeader">

</div>

<div class="row" id="bodyRow">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="code">@Html.DisplayNameFor(model => model.code)</label>
                        <input type="text" class="form-control" id="code" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="name">@Html.DisplayNameFor(model => model.name)</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="address">@Html.DisplayNameFor(model => model.address)</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="form-group">
                        <label for="email">@Html.DisplayNameFor(model => model.email)</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="website">@Html.DisplayNameFor(model => model.website)</label>
                        <input type="text" class="form-control" id="website">
                    </div>
                    <div class="form-group">
                        <label for="telepon">@Html.DisplayNameFor(model => model.telepon)</label>
                        <input type="text" class="form-control" id="telepon" data-mask data-inputmask='"mask": "(999)-99999999"'>
                    </div>
                    <div class="form-group">
                        <label for="fax">@Html.DisplayNameFor(model => model.fax)</label>
                        <input type="text" class="form-control" id="fax">
                    </div>

                    <div class="form-group">
                        <label for="remark">@Html.DisplayNameFor(model => model.remark)</label>
                        <input type="text" class="form-control" id="remark">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive"> @Html.DisplayNameFor(model => model.isActive)
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button id="submit" type="submit" class="btn btn-primary">Save</button>&nbsp;
                <a class="btn btn-default" asp-controller="DepoContainer" asp-action="index">Cancel</a>
            </div>
        </div>
    </div>
    <!-- /.box -->
    <!--/.col (left) -->
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped" id="Details">
                    <thead>
                        <tr>
                            <th>Contact Person</th>
                            <th>Telepon</th>
                            <th>Position</th>
                            <th>Address</th>
                            <th>Handphone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mycontainer">
                            <td>
                                <input type="text" id="detailContactPerson" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailTelepon" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailPosition" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailAddress" class="form-control" maxlength="500" />
                            </td>
                            <td>
                                <input type="text" id="detailHandphone" class="form-control" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" id="detailEmail" class="form-control" maxlength="250" />
                            </td>
                            <td>
                                <input type="button" id="add" value="Add" style="width: 80px" class="btn btn-success" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section scripts{
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/plugins/input-mask/jquery.inputmask.js")"></script>
    <script src="@Url.Content("~/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js")"></script>
    <script>
        $(document).ready(function(){
            $('[data-mask]').inputmask();
        });

        $("#add").click(function (e) {
            e.preventDefault();

            if ($.trim($("#detailContactPerson").val()) == "" ||
                $.trim($("#detailTelepon").val()) == "" ||
                $.trim($("#detailPosition").val()) == "" ||
                $.trim($("#detailAddress").val()) == "" ||
                $.trim($("#detailHandphone").val()) == "" ||
                $.trim($("#detailEmail").val()) == "") return;

            var contactPerson = $("#detailContactPerson").val(),
                telepon = $("#detailTelepon").val(),
                position = $("#detailPosition").val(),
                address = $("#detailAddress").val(),
                handphone = $("#detailHandphone").val(),
                email = $("#detailEmail").val(),
                detailsTableBody = $("#Details tbody");

            var Item = '<tr><td>' + contactPerson + '</td><td>' + telepon + '</td><td>' + position + '</td><td>' + address + '</td><td>' + handphone + '</td><td>' + email +'</td><td> <input type="button" data-itemId="0" href="#" style="width: 80px" value="Remove" class="deleteItem btn btn-danger" /> </td></tr>';
            detailsTableBody.append(Item);
            clearItem();
        });

        function clearItem() {
            $("#detailContactPerson").val('');
            $("#detailTelepon").val('');
            $("#detailPosition").val('');
            $("#detailAddress").val('');
            $("#detailHandphone").val('');
            $("#detailEmail").val('');
        }

        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });

        //Collect Multiple Order List For Pass To Controller
        $("#submit").click(function (e) {
            e.preventDefault();

            var details = [];
            details.length = 0;
            var i = 0;

            $.each($("#Details tbody tr"), function () {
                if (i == 0) {
                    i = 1;
                }else{
                    details.push({
                        contactPerson: $(this).find('td:eq(0)').html(),
                        telepon: $(this).find('td:eq(1)').html(),
                        position: $(this).find('td:eq(2)').html(),
                        address: $(this).find('td:eq(3)').html(),
                        handphone: $(this).find('td:eq(4)').html(),
                        email: $(this).find('td:eq(5)').html()
                    });
                }
            });

            var isChecked = $('#isActive').is(":checked");
            var isCheck;

            if (isChecked) {
                isCheck = 1;
            }
            else{
                isCheck = 0;
            }

            var data = JSON.stringify({
                code: $('#code').val().trim(),
                name: $('#name').val().trim(),
                address: $('#address').val().trim(),
                email: $('#email').val().trim(),
                website: $('#website').val().trim(),
                telepon: $('#telepon').val().trim(),
                fax: $('#fax').val().trim(),
                remark: $('#remark').val(),
                isActive: isCheck,
                depoContainerDetails: details
            });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/DepoContainer/add",
                data: data,
                success: function (result) {
                    console.log(result);
                    switch (result.status) {
                        case 200:
                            window.location.href = '/DepoContainer/';
                            break;
                        case 400:
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '';
                            for (var i=0; i < result.message.length; i++) {
                                console.log(result.message[i]);
                                error = error + '<li>' + result.message[i] + '</li>';
                            }

                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                        case 409:
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });
    </script>
}