@{
    ViewData["Title"] = "Depo Container";
}
@model fms.Models.mtDepoContainer;
@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
}
<form role="form" method="post" asp-controller="DepoContainer" asp-action="Edit">
    <div class="row">
        <!-- left column -->
        <div class="col-xs-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="code">@Html.DisplayNameFor(model => model.code)</label>
                        <input type="text" class="form-control" id="code" asp-for="code" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="name">@Html.DisplayNameFor(model => model.name)</label>
                        <input type="text" class="form-control" id="name" asp-for="name">
                    </div>
                    <div class="form-group">
                        <label for="address">@Html.DisplayNameFor(model => model.address)</label>
                        <input type="text" class="form-control" id="address" asp-for="address">
                    </div>
                    <div class="form-group">
                        <label for="email">@Html.DisplayNameFor(model => model.email)</label>
                        <input type="text" class="form-control" id="email" asp-for="email">
                    </div>
                    <div class="form-group">
                        <label for="website">@Html.DisplayNameFor(model => model.website)</label>
                        <input type="text" class="form-control" id="website" asp-for="website">
                    </div>
                    <div class="form-group">
                        <label for="telepon">@Html.DisplayNameFor(model => model.telepon)</label>
                        <input type="text" class="form-control" id="telepon" asp-for="telepon">
                    </div>
                    <div class="form-group">
                        <label for="fax">@Html.DisplayNameFor(model => model.fax)</label>
                        <input type="text" class="form-control" id="fax" asp-for="fax">
                    </div>
                    <div class="form-group">
                        <label for="remark">@Html.DisplayNameFor(model => model.remark)</label>
                        <input type="text" class="form-control" id="remark" asp-for="remark">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" asp-for="isActive"> @Html.DisplayNameFor(model => model.isActive)
                        </label>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="hidden" asp-for="id">
                    <input type="hidden" asp-for="createdBy">
                    <input type="hidden" asp-for="createdOn">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                    <a class="btn btn-default" asp-controller="DepoContainer" asp-action="index">Cancel</a>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped" id="Details">
                        <thead>
                            <tr>
                                <th style="display:none">Id</th>
                                <th>Contact Person</th>
                                <th>Telepon</th>
                                <th>Position</th>
                                <th>Address</th>
                                <th>Handphone</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.DepoContainerDetails)
                            {
                                <tr>
                                    <td style="display:none;">@item.id</td>
                                    <td>@item.contactPerson</td>
                                    <td>@item.telepon</td>
                                    <td>@item.position</td>
                                    <td>@item.address</td>
                                    <td>@item.handphone</td>
                                    <td>@item.email</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</form>
@section scripts{
    <script src="@Url.Content("~/AdminLTE/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>
    <script>$(function () {
            $('.select2').select2()
        })</script>
}