@{
    ViewData["Title"] = "Company";
}
@model fms.Models.mtCompany;
@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
}
@if (ViewBag.Error)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        @Html.ValidationSummary()
    </div>
}
<div class="row">
    <!-- left column -->
    <!--<form role="form" method="post" asp-controller="Agent" asp-action="Create"> -->
    <div class="col-xs-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <div class="box-body">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="company">@Html.DisplayNameFor(model => model.company)</label>
                        <input type="text" class="form-control" id="company" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="name">@Html.DisplayNameFor(model => model.name)</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="address">@Html.DisplayNameFor(model => model.address)</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="form-group">
                        <label for="email">@Html.DisplayNameFor(model => model.email)</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="website">@Html.DisplayNameFor(model => model.website)</label>
                        <input type="text" class="form-control" id="website">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="telepon">@Html.DisplayNameFor(model => model.telepon)</label>
                        <input type="text" class="form-control" id="telepon">
                    </div>
                    <div class="form-group">
                        <label for="fax">@Html.DisplayNameFor(model => model.fax)</label>
                        <input type="text" class="form-control" id="fax">
                    </div>
                    <div class="form-group">
                        <label for="taxNo">@Html.DisplayNameFor(model => model.taxNo)</label>
                        <input type="text" class="form-control" id="taxNo" data-inputmask='"mask": "99.999.999.9-999.999"'>
                    </div>
                    <div class="form-group">
                        <label for="remark">@Html.DisplayNameFor(model => model.remark)</label>
                        <input type="text" class="form-control" id="remark">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive"> @Html.DisplayNameFor(model => model.isActive)
                        </label>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.coaIdIdr)</label>
                            <select class="form-control select2" style="width: 100%;" id="coaIdIdr">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.ChartOfAccountsIdr)
                                {
                                    <option value="@item.id">@item.code</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.coaIdIdr)</label>
                            <select class="form-control select2" style="width: 100%;" id="coaIdIdr">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.ChartOfAccountsUsd)
                                {
                                    <option value="@item.id">@item.code</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.typeId)</label>
                            <select class="form-control select2" style="width: 100%;" id="typeId">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.Type)
                                {
                                    <option value="@item.id">@item.code - @item.description</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button id="submit" type="submit" class="btn btn-primary">Save</button>&nbsp;
                <a class="btn btn-default" asp-controller="Company" asp-action="index">Cancel</a>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped" id="Details">
                    <thead>
                        <tr>
                            <th>Contact Person</th>
                            <th>Telepon</th>
                            <th>Position</th>
                            <th>Address</th>
                            <th>Handphone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mycontainer">
                            <td>
                                <input type="text" id="detailContactPerson" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="detailTelepon" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="detailPosition" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="detailAddress" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="detailHandphone" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="detailEmail" class="form-control" />
                            </td>
                            <td>
                                <input type="button" id="add" value="Add" style="width: 80px" class="btn btn-success" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- </form> -->
    <!-- /.col -->
</div>
@section scripts{
    <script src="@Url.Content("~/AdminLTE/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>
    <script>
$("#add").click(function (e) {
            e.preventDefault();

            if ($.trim($("#detailContactPerson").val()) == "" ||
                $.trim($("#detailTelepon").val()) == "" ||
                $.trim($("#detailPosition").val()) == "" ||
                $.trim($("#detailAddress").val()) == "" ||
                $.trim($("#detailHandphone").val()) == "" ||
                $.trim($("#detailEmail").val()) == "") return;

            var contactPerson = $("#detailContactPerson").val(),
                telepon = $("#detailTelepon").val(),
                position = $("#detailPosition").val(),
                address = $("#detailAddress").val(),
                handphone = $("#detailHandphone").val(),
                email = $("#detailEmail").val(),
                detailsTableBody = $("#Details tbody");

            var Item = '<tr><td>' + contactPerson + '</td><td>' + telepon + '</td><td>' + position + '</td><td>' + address + '</td><td>' + handphone + '</td><td>' + email +'</td><td> <input type="button" data-itemId="0" href="#" style="width: 80px" value="Remove" class="deleteItem btn btn-danger" /> </td></tr>';
            detailsTableBody.append(Item);
            clearItem();
        });

        function clearItem() {
            $("#detailContactPerson").val('');
            $("#detailTelepon").val('');
            $("#detailPosition").val('');
            $("#detailAddress").val('');
            $("#detailHandphone").val('');
            $("#detailEmail").val('');
        }

        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });

        //After Click Save Button Pass All Data View To Controller For Save Database
        function save(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Company/add",
                data: data,
                success: function (result) {

                },
                error: function () {
                    console.log(data);
                    alert("Error!");
                }
            });
        }

        //Collect Multiple Order List For Pass To Controller
        $("#submit").click(function (e) {
            e.preventDefault();

            var details = [];
            details.length = 0;
            var i = 0;

            $.each($("#Details tbody tr"), function () {
                if (i == 0) {
                    i = 1;
                }else{
                    details.push({
                        contactPerson: $(this).find('td:eq(0)').html(),
                        telepon: $(this).find('td:eq(1)').html(),
                        position: $(this).find('td:eq(2)').html(),
                        address: $(this).find('td:eq(3)').html(),
                        handphone: $(this).find('td:eq(4)').html(),
                        email: $(this).find('td:eq(5)').html()
                    });
                }
            });

            var isChecked = $('#isActive').is(":checked");
            var isCheck;

            if (isChecked) {
                isCheck = 1;
            }
            else{
                isCheck = 0;
            }

            var data = JSON.stringify({
                company: $('#company').val().trim(),
                name: $('#name').val().trim(),
                address: $('#address').val().trim(),
                email: $('#email').val().trim(),
                website: $('#website').val().trim(),
                telepon: $('#telepon').val().trim(),
                fax: $('#fax').val().trim(),
                taxNo: $('#taxNo').val().trim(),
                remark: $('#remark').val(),
                coaIdIdr: $('#coaIdIdr').val(),
                coaIdUsd: $('#coaIdUsd').val(),
                typeId: $('#typeId').val(),
                isActive: isCheck,
                companyDetails: details
            });

            $.when(save(data)).then(function (response) {
                console.log(response);
                window.location.href = '/Company/';
            }).fail(function (err) {
                console.log(err);
            });
        });</script>
}