@{
    ViewData["Title"] = "Agent";
}

@model fms.Models.mtAgent;

@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
}
<form role="form" method="post" asp-controller="Agent" asp-action="Edit">
<div class="row">
    <!-- left column -->
    <div class="col-xs-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <div class="box-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="code">@Html.DisplayNameFor(model => model.code)</label>
                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", id ="code", autofocus = "autofocus" } })
                    </div>
                    <div class="form-group">
                        <label for="name">@Html.DisplayNameFor(model => model.name)</label>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", id = "name" } })
                    </div>
                    <div class="form-group">
                        <label for="address">@Html.DisplayNameFor(model => model.address)</label>
                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", id = "address" } })
                    </div>
                    <div class="form-group">
                        <label for="email">@Html.DisplayNameFor(model => model.email)</label>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                    </div>
                    <div class="form-group">
                        <label for="website">@Html.DisplayNameFor(model => model.website)</label>
                        @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control", id = "website" } })
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="postalCode">@Html.DisplayNameFor(model => model.postalCode)</label>
                        @Html.EditorFor(model => model.postalCode, new { htmlAttributes = new { @class = "form-control", id = "postalCode" } })
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.portOfDestinationId)</label>
                            <select class="form-control select2" style="width: 100%;" id="portOfDestinationId">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.PortOfDestination)
                                {
                                    <option value="@item.id">@item.location</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.shipperId)</label>
                            <select class="form-control select2" style="width: 100%;" id="shipperId">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.Shipper)
                                {
                                    <option value="@item.id">@item.code - @item.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.typeId)</label>
                            <select class="form-control select2" style="width: 100%;" id="typeId">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.Type)
                                {
                                    <option value="@item.id">@item.code - @item.description</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive"> @Html.DisplayNameFor(model => model.isActive)
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="hidden" asp-for="id">
                <input type="hidden" asp-for="createdBy">
                <input type="hidden" asp-for="createdOn">
                <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                <a class="btn btn-default" asp-controller="Agent" asp-action="index">Cancel</a>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped" id="agentDetails">
                    <thead>
                        <tr>
                            <th style="display:none">Id</th>
                            <th>Contact Person</th>
                            <th>Telepon</th>
                            <th>Position</th>
                            <th>Address</th>
                            <th>Handphone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.AgentDetails)
                    {
                        <tr>
                            <td style="display:none;">@item.id</td>
                            <td>@item.contactPerson</td>
                            <td>@item.telepon</td>
                            <td>@item.position</td>
                            <td>@item.address</td>
                            <td>@item.handphone</td>
                            <td>@item.email</td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
</form>
@section scripts{
    <script src="@Url.Content("~/AdminLTE/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>

    <script>
        $(function () {
            $('.select2').select2()
        })
    </script>
}