@{
    ViewData["Title"] = "Selling Shipper";
}
@model fms.Models.trSellingShipper;
@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="~/AdminLTE/bower_components/datatables.net/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/AdminLTE/bower_components/datatables.net/css/select.dataTables.min.css">
}

<div id="errorMessageHeader">
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="referenceNo">@Html.DisplayNameFor(model => model.referenceNo)</label>
                        <input type="text" class="form-control" id="referenceNo" disabled>
                    </div>
                    <div class="form-group">
                        <label for="shipperId">@Html.DisplayNameFor(model => model.shipperId)</label>
                        <select class="form-control select2" style="width: 100%;" id="shipperId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="shipperAttention">@Html.DisplayNameFor(model => model.shipperAttention)</label>
                        <input type="text" class="form-control" id="shipperAttention" disabled>
                    </div>
                    <div class="form-group">
                        <label for="shipperCc">@Html.DisplayNameFor(model => model.shipperCc)</label>
                        <input type="text" class="form-control" id="shipperCc">
                    </div>

                    <div class="form-group">
                        <label for="portOfLoadingId">@Html.DisplayNameFor(model => model.portOfLoadingId)</label>
                        <select class="form-control select2" style="width: 100%;" id="portOfLoadingId">
                            <option value="0">Select</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="remarkQuo">@Html.DisplayNameFor(model => model.remarkQuo)</label>
                        <textarea class="form-control" style="width: 100%;" rows="4" id="remarkQuo"></textarea>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="col-sm">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txDate">@Html.DisplayNameFor(model => model.txDate)</label>
                                <input type="text" class="form-control" id="txDate">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txValidDate">@Html.DisplayNameFor(model => model.txValidDate)</label>
                                <input type="text" class="form-control" id="txValidDate">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="employeeId">@Html.DisplayNameFor(model => model.employeeId)</label>
                        <select class="form-control select2" style="width: 100%;" id="employeeId">
                            <option value="0">Select</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="employeeCc">@Html.DisplayNameFor(model => model.employeeCc)</label>
                        <input type="text" class="form-control" id="employeeCc">
                    </div>

                    <div class="form-group">
                        &nbsp; <br />
                        &nbsp; <br />
                        &nbsp; <br />
                    </div>

                    <div class="form-group">
                        <label for="termOfPayment">@Html.DisplayNameFor(model => model.termOfPayment)</label>
                        <input type="number" class="form-control" id="termOfPayment">
                    </div>

                    <div class="form-group">
                        <label for="termOfPayment">@Html.DisplayNameFor(model => model.remarkEmkl)</label>
                        <textarea class="form-control" style="width: 100%;" rows="4" id="remarkEmkl"></textarea>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="hidden" id="sellingShipperId" value="0">
                <input type="hidden" id="sellingShipperDetailId" value="0">
                <button id="submit" type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="overlay" id="refreshLoad">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>

    <div class="col-xs-12" id="boxService" hidden>
        <div class="box box-primary collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">ITEM OF SERVICE OF ALL DESTINATION</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="itemServiceId">Item Of Services</label>
                        <select class="form-control select2" style="width: 100%;" id="itemServiceId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemPortOfDestinationId">Port Of Destination</label>
                        <select class="form-control select2" style="width: 100%;" id="itemPortOfDestinationId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="itemOfEmkl">O/F / EMKL</label>
                        <select class="form-control select2" style="width: 100%;" id="itemOfEmkl">
                            <option value="1" selected>O / F</option>
                            <option value="2">EMKL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemPcPay">P / C / Payable At</label>
                        <select class="form-control select2" style="width: 100%;" id="itemPcPay">
                            <option value="1">PREPAID (P)</option>
                            <option value="2">COLLECT (C)</option>
                            <option value="3">PAYABLE AT</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="itemTax23">% Tax 23</label>
                        <select class="form-control select2" style="width: 100%;" id="itemTaxId23">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemVat">% Vat</label>
                        <select class="form-control select2" style="width: 100%;" id="itemTaxIdVat">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="itemContainerId">Container</label>
                        <select class="form-control select2" style="width: 100%;" id="itemContainerId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemRemark">Remark</label>
                        <textarea class="form-control" style="width: 100%;" rows="1" id="itemRemark"></textarea>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button id="addService" type="submit" class="btn btn-success">Add</button>
            </div>

            <div class="box-footer">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped" style="width:100%" id="Items">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Item Of Service</th>
                                <th>Port Of Destination</th>
                                <th>O/F / EMKL</th>
                                <th>P / C / Payable At</th>
                                <th>% Tax 23</th>
                                <th>% Vat</th>
                                <th>Container</th>
                                <th>Remark</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" id="boxDetail" hidden>
        <div class="box box-primary collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">DETAILS</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="detailServiceId">Item Of Services</label>
                        <select class="form-control select2" style="width: 100%;" id="detailServiceId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="detailPortOfDestinationId">Port Of Destination</label>
                        <select class="form-control select2" style="width: 100%;" id="detailPortOfDestinationId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="serviceId">O/F / EMKL</label>
                        <select class="form-control select2" style="width: 100%;" id="detailOfEmkl">
                            <option value="1" selected>O / F</option>
                            <option value="2">EMKL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="detailLocation">Trucking Location</label>
                        <select class="form-control select2" style="width: 100%;" id="detailLocationId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="detailConsignee">Consignee</label>
                        <select class="form-control select2" style="width: 100%;" id="detailConsigneeId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="detailContainerId">Container</label>
                        <select class="form-control select2" style="width: 100%;" id="detailContainerId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="detailConsignee">Currency</label>
                        <select class="form-control select2" style="width: 100%;" id="detailCurrencyId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="detailTruckingCondition">Trucking Condition</label>
                        <select class="form-control select2" style="width: 100%;" id="detailTruckingCondition">
                            <option value="1" selected>Single</option>
                            <option value="2">Double</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="detailTaxId23">% Tax 23</label>
                        <select class="form-control select2" style="width: 100%;" id="detailTaxId23">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="detailTaxIdVat">% Vat</label>
                        <select class="form-control select2" style="width: 100%;" id="detailTaxIdVat">
                            <option value="0">Select</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="detailPrice">Price</label>
                        <input type="number" class="form-control" style="width: 100%;" id="detailPrice">
                    </div>

                    <div class="form-group">
                        <label for="detailOrder">Invoice Group</label>
                        <select class="form-control select2" style="width: 100%;" id="detailOrder">
                            <option value="0">Select</option>
                        </select>
                    </div>

                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="detailRefundType">Refund Type</label>
                        <select class="form-control select2" style="width: 100%;" id="detailRefundType">
                            <option value="1" selected>Percentage</option>
                            <option value="2">Amount</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="detailRefund">Refund</label>
                        <input type="number" class="form-control" style="width: 100%;" id="detailRefund">
                    </div>

                    <div class="form-group">
                        <label for="detailPayableTo">Payable To</label>
                        <input type="text" class="form-control" style="width: 100%;" id="detailPayableTo">
                    </div>

                    <div class="form-group">
                        <label for="detailVendor">Ship CoLoader</label>
                        <select class="form-control select2" style="width: 100%;" id="detailVendorId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="detailRemark">Remark</label>
                        <textarea class="form-control" style="width: 100%;" rows="2" id="detailRemark"></textarea>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <br />
                        <br />
                        <input type="checkbox" id="detailAllIn"><label for="detailAllIn">&nbsp; All In</label>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button id="addDetail" type="submit" class="btn btn-success">Add</button>
            </div>

            <div class="box-footer">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped" style="width:100%" id="Details">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Item Of Service</th>
                                <th>Port Of Destination</th>
                                <th>O/F / EMKL</th>
                                <th>Trucking Location</th>
                                <th>Consignee</th>
                                <th>Container</th>
                                <th>Currency</th>
                                <th>Trucking Condition</th>
                                <th>% Tax 23</th>
                                <th>% Vat</th>
                                <th>Price</th>
                                <th>Invoice Group</th>
                                <th>All In</th>
                                <th>Refund Type</th>
                                <th>Refund</th>
                                <th>Payable To</th>
                                <th>Ship CoLoader</th>
                                <th>Remark</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" id="boxVendor" hidden>
        <div class="box box-primary collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">VENDORS</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="vendorId">Vendor</label>
                        <select class="form-control select2" style="width: 100%;" id="vendorId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="vendorCode">Code Vendor</label>
                        <input type="text" class="form-control" style="width: 100%;" id="vendorCode" disabled>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="vendorName">Name Vendor</label>
                        <input type="text" class="form-control" style="width: 100%;" id="vendorName" disabled>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button id="addVendor" type="submit" class="btn btn-success">Add</button>
            </div>

            <div class="box-footer">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped" style="width:100%" id="Vendors">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Kode Vendor</th>
                                <th>Nama Vendor</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/datatables.net/js/dataTables.select.min.js")"></script>

    <script>
        function getDropDown(element, url) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: "/SellingShipper/" + url,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            var $ele = $(element);
                            $ele.empty();
                            $ele.append($('<option/>').val('0').text('Select'));
                            for (var i=0; i < result.message.length; i++) {
                                $ele.append($('<option/>').val(result.message[i].id).text(result.message[i].description));
                            }

                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        }

        function getAttention() {
            var shipperId = $('#shipperId').val().trim();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: "/SellingShipper/getShipper/" + shipperId,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            $('#shipperAttention').val(result.message[0].description);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        }

        function getVendor() {
            var vendorId = $('#vendorId').val().trim();

            $('#vendorCode').val('');
            $('#vendorName').val('');
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: "/SellingShipper/getVendor/" + vendorId,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            $('#vendorCode').val(result.message.code);
                            $('#vendorName').val(result.message.name);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        }

        function loadVendor() {
            var sellingShipperId = $("#sellingShipperId").val().trim();
            var sellingShipperDetailId = $("#sellingShipperDetailId").val().trim();

            $('#Vendors').DataTable().clear().draw();
            $('#divError').remove();

            var data = JSON.stringify({
                sellingShipperId: sellingShipperId,
                sellingShipperDetailId: sellingShipperDetailId
            });
            console.log(sellingShipperId);
            console.log(sellingShipperDetailId);
            console.log(data);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/SellingShipper/loadVendor",
                data: data,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            //load vendor
                            for (var i=0; i < result.message.length; i++) {
                                $('#Vendors').DataTable().row.add( [
                                    result.message[i].id,
                                    result.message[i].vendorCode,
                                    result.message[i].vendorName
                                ] ).draw(false);
                            }
                            console.log(result.message);
                            break;
                    }
                },
                error: function (result) {
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        }

        $(document).ready(function(){
            $('.select2').select2();

            $('#Items').DataTable({
                "columnDefs":
                [
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<input type='button' href='#' style='width: 80px' value='Remove' class='deleteService btn btn-danger' />"
                    },
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });

            $('#Details').DataTable({
                "columnDefs":
                [
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<input type='button' href='#' style='width: 80px' value='Remove' class='deleteDetail btn btn-danger' />"
                    },
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });

            $('#Vendors').DataTable({
                "columnDefs":
                [
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<input type='button' href='#' style='width: 80px' value='Remove' class='deleteVendor btn btn-danger' />"
                    },
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });

            $('#txDate').datepicker({format:'mm/dd/yyyy',
              autoclose: true
            });

            $('#txValidDate').datepicker({format:'mm/dd/yyyy',
              autoclose: true
            });

            var currentDate = new Date();
            $("#txDate").datepicker("setDate", currentDate);
            $("#txValidDate").datepicker("setDate", currentDate);

            $('#shipperId').change(function(){
                getAttention();
            });

            $('#vendorId').change(function(){
                getVendor();
            });

            //assign data header
            getDropDown($('#shipperId'), 'getShipper');
            getDropDown($('#employeeId'), 'getEmployee');
            getDropDown($('#portOfLoadingId'), 'getPortOfLoading');

            //assign data Service
            getDropDown($('#itemServiceId'), 'getService');
            getDropDown($('#itemPortOfDestinationId'), 'getPortOfDestination');
            getDropDown($('#itemContainerId'), 'getContainer');
            getDropDown($('#itemTaxId23'), 'getTax');
            getDropDown($('#itemTaxIdVat'), 'getTax');

            //assign data Detail
            getDropDown($('#detailServiceId'), 'getService');
            getDropDown($('#detailPortOfDestinationId'), 'getPortOfDestination');
            getDropDown($('#detailLocationId'), 'getLocation');
            getDropDown($('#detailConsigneeId'), 'getConsignee');
            getDropDown($('#detailContainerId'), 'getContainer');
            getDropDown($('#detailCurrencyId'), 'getCurrency');
            getDropDown($('#detailTaxId23'), 'getTax');
            getDropDown($('#detailTaxIdVat'), 'getTax');
            getDropDown($('#detailOrder'), 'getOrder');
            getDropDown($('#detailVendorId'), 'getCoLoader');

            //assign data Vendor
            getDropDown($('#vendorId'), 'getVendor');

            $('#termOfPayment').val('0');
            $('#detailRefund').val('0');
            $('#detailPrice').val('0');

            //Set selected for grid detail
            $('#Details tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    $('#Details tr.selected').removeClass('selected');
                    $(this).addClass('selected');

                    //Assign Detail Id & load vendor
                    var data = $('#Details').DataTable().row(this).data();
                    var detailId = data[0];
                    $("#sellingShipperDetailId").val(detailId);

                    loadVendor();
                    console.log(detailId);
                }
            });

            $('#refreshLoad').remove();
        });

        //Save Header
        $("#submit").click(function (e) {
            e.preventDefault();

            var data = JSON.stringify({
                id: $('#sellingShipperId').val().trim(),
                referenceNo: $('#referenceNo').val().trim(),
                shipperId: $('#shipperId').val().trim(),
                shipperAttention: $('#shipperAttention').val().trim(),
                shipperCc: $('#shipperCc').val().trim(),
                txDate: $('#txDate').val().trim(),
                txValidDate: $('#txValidDate').val().trim(),
                employeeId: $('#employeeId').val().trim(),
                employeeCc: $('#employeeCc').val().trim(),
                termOfPayment: $('#termOfPayment').val().trim(),
                portOfLoadingId: $('#portOfLoadingId').val().trim(),
                remarkQuo: $('#remarkQuo').val().trim(),
                remarkEmkl: $('#remarkEmkl').val().trim()
            });

            $('#divError').remove();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/SellingShipper/add",
                data: data,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            $('#sellingShipperId').val(result.message.id);
                            $('#referenceNo').val(result.message.referenceNo);

                            $('#boxService').removeAttr('hidden');
                            $('#boxDetail').removeAttr('hidden');
                            $('#boxVendor').removeAttr('hidden');
                            break;
                        case 400:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '';
                            for (var i=0; i < result.message.length; i++) {
                                console.log(result.message[i]);
                                error = error + '<li>' + result.message[i] + '</li>';
                            }

                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                        case 409:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });

        //Save Service
        $("#addService").click(function (e) {
            e.preventDefault();

            var sellingShipperId = $('#sellingShipperId').val().trim(),
                serviceId = $("#itemServiceId").val(),
                portOfDestinationId = $("#itemPortOfDestinationId").val(),
                ofEmkl = $("#itemOfEmkl").val(),
                pcPay = $("#itemPcPay").val(),
                containerId = $("#itemContainerId").val(),
                taxId23 = $("#itemTaxId23").val(),
                taxIdvat = $("#itemTaxIdVat").val(),
                remark = $("#itemRemark").val();

            var serviceText = $("#itemServiceId option:selected").text(),
                portOfDestinationText = $("#itemPortOfDestinationId option:selected").text(),
                ofEmklText = $("#itemOfEmkl option:selected").text(),
                pcPayText = $("#itemPcPay option:selected").text(),
                containerText = $("#itemContainerId option:selected").text(),
                tax23 = $("#itemTaxId23 option:selected").text(),
                taxvat = $("#itemTaxIdVat option:selected").text();

            var data = JSON.stringify({
                sellingShipperId: sellingShipperId,
                serviceId: serviceId,
                portOfDestinationId: portOfDestinationId,
                ofEmkl: ofEmkl,
                pcPay: pcPay,
                containerId: containerId,
                taxId23: taxId23,
                taxIdvat: taxIdvat,
                remark: remark
            });

            $('#divError').remove();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/SellingShipper/serviceAdd",
                data: data,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            var itemId = result.message;
                            $('#Items').DataTable().row.add( [
                                itemId,
                                serviceText,
                                portOfDestinationText,
                                ofEmklText,
                                pcPayText,
                                tax23,
                                taxvat,
                                containerText,
                                remark
                            ] ).draw(false);

                            $("#itemRemark").val('');
                            break;

                        case 400:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '';
                            for (var i=0; i < result.message.length; i++) {
                                console.log(result.message[i]);
                                error = error + '<li>' + result.message[i] + '</li>';
                            }

                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;

                        case 409:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });

        $(document).on('click', '.deleteService', function (e) {
            e.preventDefault();

            var data = $('#Items').DataTable().row($(this).parents('tr')).data();
            var id = data[0];

            if ($(this).attr('data-itemId') != "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $('#divError').remove();
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/SellingShipper/serviceDelete/" + id,
                        success: function (result) {
                            console.log(result);
                            switch (result.status) {
                                case 200:
                                    $(this).remove();
                                    break;

                                case 409:
                                    var element = document.getElementById("errorMessageHeader");
                                    var error = '<li>' + result.message + '</li>';
                                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                                    element.innerHTML = alert;
                                    console.log(alert);
                                    break;
                            }
                        },
                        error: function (result) {
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>Error! Check Console</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(result);
                        }
                    });
                });
            }
        });

        //Save Detail
        $("#addDetail").click(function (e) {
            e.preventDefault();

            var sellingShipperId = $('#sellingShipperId').val().trim(),
                serviceId = $("#detailServiceId").val(),
                portOfDestinationId = $("#detailPortOfDestinationId").val(),
                ofEmkl = $("#detailOfEmkl").val(),
                locationId = $("#detailLocationId").val(),
                consigneeId = $("#detailConsigneeId").val(),
                containerId = $("#detailContainerId").val(),
                currencyId = $("#detailCurrencyId").val(),
                truckingCondition = $("#detailTruckingCondition").val(),
                taxId23 = $("#detailTaxId23").val(),
                taxIdvat = $("#detailTaxIdVat").val(),
                price = $("#detailPrice").val(),
                remark = $("#detailRemark").val(),
                orderId = $("#detailOrder").val(),
                allIn = ($('#isActive').is(":checked") ? 1 : 0),
                refundType = $("#detailRefundType").val(),
                refund = $("#detailRefund").val(),
                payable = $("#detailPayableTo").val(),
                vendorId = $("#detailVendorId").val();

            var serviceText = $("#detailServiceId option:selected").text(),
                portOfDestinationText = $("#detailPortOfDestinationId option:selected").text(),
                ofEmklText = $("#detailOfEmkl option:selected").text(),
                locationText = $("#detailLocationId option:selected").text(),
                consigneeText = $("#detailConsigneeId option:selected").text(),
                containerText = $("#detailContainerId option:selected").text(),
                currencyText = $("#detailCurrencyId option:selected").text(),
                truckingConditionText = $("#detailTruckingCondition option:selected").text(),
                tax23 = $("#detailTaxId23 option:selected").text(),
                taxvat = $("#detailTaxIdVat option:selected").text(),
                orderText = $("#detailOrder option:selected").text(),
                refundTypeText = $("#detailRefundType option:selected").text(),
                vendorText = $("#detailVendorId option:selected").text();

            var data = JSON.stringify({
                sellingShipperId: sellingShipperId,
                serviceId: serviceId,
                portOfDestinationId: portOfDestinationId,
                ofEmkl: ofEmkl,
                locationId: locationId,
                consigneeId: consigneeId,
                containerId: containerId,
                currencyId: currencyId,
                truckingCondition: truckingCondition,
                taxId23: taxId23,
                taxIdvat: taxIdvat,
                price: price,
                orderId: orderId,
                allIn: allIn,
                refundType: refundType,
                refund: refund,
                remark: remark,
                payable: payable,
                vendorId: vendorId
            });
            $('#divError').remove();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/SellingShipper/detailAdd",
                data: data,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            var itemId = result.message;

                            $('#Details').DataTable().row.add( [
                                itemId,
                                serviceText,
                                portOfDestinationText,
                                ofEmklText,
                                locationText,
                                consigneeText,
                                containerText,
                                currencyText,
                                truckingConditionText,
                                tax23,
                                taxvat,
                                price,
                                orderText,
                                (allIn == 1 ? 'True' : 'False'),
                                refundTypeText,
                                refund,
                                payable,
                                vendorText,
                                remark
                            ] ).draw(false);

                            $("#detailRemark").val('');
                            $("#detailPayableTo").val('');
                            $("#detailRefund").val('0');
                            $("#detailPrice").val('0');
                            break;

                        case 400:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '';
                            for (var i=0; i < result.message.length; i++) {
                                console.log(result.message[i]);
                                error = error + '<li>' + result.message[i] + '</li>';
                            }

                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;

                        case 409:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });

        $(document).on('click', '.deleteDetail', function (e) {
            e.preventDefault();

            var data = $('#Details').DataTable().row($(this).parents('tr')).data();
            var id = data[0];

            if ($(this).attr('data-itemId') != "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $('#divError').remove();
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/SellingShipper/detailDelete/" + id,
                        success: function (result) {
                            console.log(result);
                            switch (result.status) {
                                case 200:
                                    $(this).remove();
                                    break;

                                case 409:
                                    var element = document.getElementById("errorMessageHeader");
                                    var error = '<li>' + result.message + '</li>';
                                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                                    element.innerHTML = alert;
                                    console.log(alert);
                                    break;
                            }
                        },
                        error: function (result) {
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>Error! Check Console</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(result);
                        }
                    });
                });
            }
        });

        //Save Vendor
        $("#addVendor").click(function (e) {
            e.preventDefault();

            var sellingShipperId = $('#sellingShipperId').val().trim(),
                sellingShipperDetailId = $('#sellingShipperDetailId').val().trim(),
                vendorId = $("#vendorId").val(),
                vendorCode = $("#vendorCode").val(),
                vendorName = $("#vendorName").val();

            var data = JSON.stringify({
                sellingShipperId: sellingShipperId,
                sellingShipperDetailId: sellingShipperDetailId,
                vendorId: vendorId,
                vendorCode: vendorCode,
                vendorName: vendorName
            });

            $('#divError').remove();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/SellingShipper/vendorAdd",
                data: data,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            var itemId = result.message;

                            $('#Vendors').DataTable().row.add( [
                                itemId,
                                vendorCode,
                                vendorName
                            ] ).draw(false);

                            break;

                        case 400:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '';
                            for (var i=0; i < result.message.length; i++) {
                                console.log(result.message[i]);
                                error = error + '<li>' + result.message[i] + '</li>';
                            }

                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;

                        case 409:
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });

        $(document).on('click', '.deleteVendor', function (e) {
            e.preventDefault();
            var data = $('#Vendors').DataTable().row($(this).parents('tr')).data();
            var id = data[0];

            if ($(this).attr('data-itemId') != "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $('#divError').remove();
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/SellingShipper/vendorDelete/" + id,
                        success: function (result) {
                            console.log(result);
                            switch (result.status) {
                                case 200:
                                    $(this).remove();
                                    break;

                                case 409:
                                    var element = document.getElementById("errorMessageHeader");
                                    var error = '<li>' + result.message + '</li>';
                                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                                    element.innerHTML = alert;
                                    console.log(alert);
                                    break;
                            }
                        },
                        error: function (result) {
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>Error! Check Console</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(result);
                        }
                    });
                });
            }
        });
    </script>
}