@{
    ViewData["Title"] = "Profit Shared";
}

@model fms.Models.mtProfitShared;

@section Header
{
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
}

<div id="errorMessageHeader">

</div>

<div class="row" id="bodyRow">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.agentId)</label>
                        <select class="form-control select2" style="width: 100%;" id="agentId">
                            <option value="0">No Value</option>
                            @foreach (var item in ViewBag.Agents)
                            {
                                <option value="@item.id">@item.code</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="refNo">@Html.DisplayNameFor(model => model.refNo)</label>
                        <input type="text" class="form-control" id="refNo" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="txDate">@Html.DisplayNameFor(model => model.txDate)</label>
                        <input type="text" class="form-control" id="txDate">
                    </div>
                    <div class="form-group">
                        <label for="txValidDate">@Html.DisplayNameFor(model => model.txValidDate)</label>
                        <input type="text" class="form-control" id="txValidDate">
                    </div>
                    <div class="form-group">
                        <label for="inputBy">@Html.DisplayNameFor(model => model.inputBy)</label>
                        <input type="text" class="form-control" id="inputBy">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.countryId)</label>
                        <select class="form-control select2" style="width: 100%;" id="countryId">
                            <option value="0">No Value</option>
                            @foreach (var item in ViewBag.Countries)
                            {
                                <option value="@item.id">@item.code</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="psCondition">@Html.DisplayNameFor(model => model.psCondition)</label>
                        <select class="form-control select2" style="width: 100%;" id="psCondition">
                            <option value="0">No Value</option>
                            <option value="1">Free to Free</option>
                            <option value="2">Profit Share/Rebate to TSK</option>
                            <option value="3">Profit Share/Rebate to Agent</option>
                            <option value="4">50/50</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="psForAgent">@Html.DisplayNameFor(model => model.psForAgent)</label>
                        <input type="number" class="form-control" id="psForAgent">
                    </div>
                    <div class="form-group">
                        <label for="rebateForTsk">@Html.DisplayNameFor(model => model.rebateForTsk)</label>
                        <input type="number" class="form-control" id="rebateForTsk">
                    </div>

                    <div class="form-group">
                        <label for="remark">@Html.DisplayNameFor(model => model.remark)</label>
                        <input type="text" class="form-control" id="remark">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive"> @Html.DisplayNameFor(model => model.isActive)
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button id="submit" type="submit" class="btn btn-primary">Save</button>&nbsp;
                <a class="btn btn-default" asp-controller="ProfitShared" asp-action="index">Cancel</a>
            </div>
        </div>
    </div>
    <!-- /.box -->
    <!--/.col (left) -->
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered table-striped" id="Details">
                    <thead>
                        <tr>
                            <th>Ref No</th>
                            <th style="display: none">Id</th>
                            <th>Container Id</th>
                            <th>Ps For Agent</th>
                            <th>Ps For Tsk</th>
                            <th>Ps Due To Agent</th>
                            <th>Ps Due To Tsk</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mycontainer">
                            <td>
                                <input type="text" id="detailRefNo" class="form-control" />
                            </td>
                            <td style="display: none;"></td>
                            <td>
                                <select class="form-control select2" style="width: 100%;" id="detailContainerId">
                                <option value="0">No Value</option>
                                    @foreach (var item in ViewBag.Container)
                                    {
                                        <option value="@item.id">@item.typeofContainer</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="number" id="detailPsForAgent" class="form-control" />
                            </td>
                            <td>
                                <input type="number" id="detailPsForTsk" class="form-control" />
                            </td>
                            <td>
                                <input type="number" id="detailPsDueForAgent" class="form-control" />
                            </td>
                            <td>
                                <input type="number" id="detailPsDueForTsk" class="form-control" />
                            </td>
                            <td>
                                <input type="button" id="add" value="Add" style="width: 80px" class="btn btn-success" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section scripts{
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

    <script>
        $(function () {
            var currentDate = new Date();
            $("#txDate").datepicker("setDate", currentDate);
            $("#txValidDate").datepicker("setDate", currentDate);

            $('.select2').select2()

            $('#txDate').datepicker({format:'mm/dd/yyyy',
              autoclose: true
            });

            $('#txValidDate').datepicker({format:'mm/dd/yyyy',
              autoclose: true
            })
        })

        $("#add").click(function (e) {
            e.preventDefault();

            if ($.trim($("#detailRefNo").val()) == "") return;

            var detailRefNo = $("#detailRefNo").val(),
                detailContainer = $("#detailContainerId option:selected").text(),
                detailContainerId = $("#detailContainerId").val(),
                detailPsForAgent = $("#detailPsForAgent").val(),
                detailPsForTsk = $("#detailPsForTsk").val(),
                detailPsDueForAgent = $("#detailPsDueForAgent").val(),
                detailPsDueForTsk = $("#detailPsDueForTsk").val(),
                detailsTableBody = $("#Details tbody");

            var item = '<tr><td>' + detailRefNo + '</td><td style="display: none;">' + detailContainerId + '</td><td>' + detailContainer + '</td><td>' + detailPsForAgent + '</td><td>' + detailPsForTsk + '</td><td>' + detailPsDueForAgent + '</td><td>' + detailPsDueForTsk +'</td><td> <input type="button" data-itemId="0" href="#" style="width: 80px" value="Remove" class="deleteItem btn btn-danger" /> </td></tr>';
            console.log(item);
            detailsTableBody.append(item);
            clearItem();
        });

        function clearItem() {
            $("#detailRefNo").val('');
            $("#detailPsForAgent").val('');
            $("#detailPsForTsk").val('');
            $("#detailPsDueForAgent").val('');
            $("#detailPsDueForTsk").val('');
            $('#detailContainerId').val(0);
            $('#detailContainerId').trigger('change');
        }

        $(document).on('click', '.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });

        //Collect Multiple Order List For Pass To Controller
        $("#submit").click(function (e) {
            e.preventDefault();

            var details = [];
            details.length = 0;
            var i = 0;

            $.each($("#Details tbody tr"), function () {
                if (i == 0) {
                    i = 1;
                }else{
                    details.push({
                        refNo: $(this).find('td:eq(0)').html(),
                        containerId: $(this).find('td:eq(1)').html(),
                        psForAgent: $(this).find('td:eq(3)').html(),
                        psForTsk: $(this).find('td:eq(4)').html(),
                        psDueForAgent: $(this).find('td:eq(5)').html(),
                        psDueForTsk: $(this).find('td:eq(6)').html()
                    });
                }
            });

            var isChecked = $('#isActive').is(":checked");
            var isCheck;

            if (isChecked) {
                isCheck = 1;
            }
            else{
                isCheck = 0;
            }

            var data = JSON.stringify({
                agentId: $('#agentId').val().trim(),
                countryId: $('#countryId').val().trim(),
                refNo: $('#refNo').val().trim(),
                txDate: $('#txDate').val().trim(),
                txValidDate: $('#txValidDate').val().trim(),
                psCondition: $('#psCondition').val().trim(),
                psForAgent: $('#psForAgent').val().trim(),
                rebateForTsk: $('#rebateForTsk').val().trim(),
                inputBy: $('#inputBy').val().trim(),
                remark: $('#remark').val(),
                isActive: isCheck,
                profitSharedDetails: details
            });

            console.log(data);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/ProfitShared/add",
                data: data,
                success: function (result) {
                    console.log(result);
                    switch (result.status) {
                        case 200:
                            window.location.href = '/ProfitShared/';
                            break;
                        case 400:
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '';
                            for (var i=0; i < result.message.length; i++) {
                                console.log(result.message[i]);
                                error = error + '<li>' + result.message[i] + '</li>';
                            }

                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                        case 409:
                            $('#divError').remove();
                            var element = document.getElementById("errorMessageHeader");
                            var error = '<li>' + result.message + '</li>';
                            var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                            element.innerHTML = alert;
                            console.log(alert);
                            break;
                    }
                },
                error: function (result) {
                    $('#divError').remove();
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        });
    </script>
}