@{
    ViewData["Title"] = "Profit Shared";
}
@model fms.Models.mtProfitShared;
@section Header
    {
    <link rel="stylesheet" href="~/AdminLTE/bower_components/select2/dist/css/select2.min.css">
}
<form role="form" method="post" asp-controller="ProfitShared" asp-action="Edit">
    <div class="row">
        <!-- left column -->
        <div class="col-xs-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="col-xs-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.agentId)</label>
                            <select class="form-control select2" style="width: 100%;" id="agentId" asp-for="agentId">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.Agent)
                                {
                                    <option value="@item.id">@item.code</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.countryId)</label>
                            <select class="form-control select2" style="width: 100%;" id="countryId" asp-for="countryId">
                                <option value="0">No Parent</option>
                                @foreach (var item in ViewBag.Countries)
                                {
                                    <option value="@item.id">@item.code</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="refNo">@Html.DisplayNameFor(model => model.refNo)</label>
                        <input type="text" class="form-control" id="refNo"  asp-for="refNo" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="txDate">@Html.DisplayNameFor(model => model.txDate)</label>
                        <input type="text" class="form-control" id="txDate" asp-for="txDate">
                    </div>
                    <div class="form-group">
                        <label for="txValidDate">@Html.DisplayNameFor(model => model.txValidDate)</label>
                        <input type="text" class="form-control" id="txValidDate" asp-for="txValidDate">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="psCondition">@Html.DisplayNameFor(model => model.psCondition)</label>
                        <input type="number" class="form-control" id="psCondition" asp-for="psCondition">
                    </div>
                    <div class="form-group">
                        <label for="psForAgent">@Html.DisplayNameFor(model => model.psForAgent)</label>
                        <input type="number" class="form-control" id="psForAgent" asp-for="psForAgent">
                    </div>
                    <div class="form-group">
                        <label for="rebateForTsk">@Html.DisplayNameFor(model => model.rebateForTsk)</label>
                        <input type="number" class="form-control" id="rebateForTsk" asp-for="rebateForTsk">
                    </div>
                    <div class="form-group">
                        <label for="inputBy">@Html.DisplayNameFor(model => model.inputBy)</label>
                        <input type="text" class="form-control" id="inputBy" asp-for="inputBy">
                    </div>
                    <div class="form-group">
                        <label for="remark">@Html.DisplayNameFor(model => model.remark)</label>
                        <input type="text" class="form-control" id="remark" asp-for="remark">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="isActive" asp-for="isActive"> @Html.DisplayNameFor(model => model.isActive)
                    </label>
                </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="hidden" asp-for="id">
                    <input type="hidden" asp-for="createdBy">
                    <input type="hidden" asp-for="createdOn">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                    <a class="btn btn-default" asp-controller="ProfitShared" asp-action="index">Cancel</a>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped" id="Details">
                        <thead>
                            <tr>
                                <th style="display:none">Id</th>
                                <th>Ref No</th>
                                <th>Container Id</th>
                                <th>Ps For Agent</th>
                                <th>Ps For Tsk</th>
                                <th>Ps Due To Agent</th>
                                <th>Ps Due To Tsk</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ProfitSharedDetails)
                            {
                                <tr>
                                    <td style="display:none;">@item.id</td>
                                    <td>@item.refNo</td>
                                    <td>@item.containerId</td>
                                    <td>@item.psForAgent</td>
                                    <td>@item.psForTsk</td>
                                    <td>@item.psDueToAgent</td>
                                    <td>@item.psDueToTsk</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</form>
@section scripts{
    <script src="@Url.Content("~/AdminLTE/bower_components/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>
    <script>
        $(function () {
            $('.select2').select2()
        });

        $('#txDate').datepicker({
          autoclose: true
        });

        $('#txValidDate').datepicker({
          autoclose: true
        });
    </script>
}